*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  font-family: "Hind", sans-serif;
}

mark {
  font-weight: bold;
  font-style: unset;
  background-color: rgba(216, 216, 216, 0.75);
  padding: 0.2;
}

.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #161616;
}

.header h1 {
  color: #e1e9f0;
}

.header label {
  margin: 2rem auto;
  color: white;
  font-style: bold;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
}

.carousel section {
  padding: 30px 0;
}

.carousel h2 {
  margin: 0;
  padding: 0 30px 30px 30px;
  color: #161616;
}

.carousel .carousel-list-container {
  flex-wrap: nowrap !important;
  display: -webkit-box !important;
  overflow-x: scroll !important;
  padding: 2rem;
  list-style-type: none;
}

.carousel .carousel-list-container li {
  min-height: 450px;
  box-shadow: 2px 2px 15px 2px rgba(0, 0, 0, 0.6);
  padding: 1.5rem;
  border-radius: 7px;
  margin: auto 1rem;
  width: 380px;
  background-color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.carousel .carousel-list-container li img {
  width: 200px;
  height: 200px;
  object-fit: contain;
  align-self: center;
  margin-top: -6rem;
  margin-bottom: 1rem;
}

.carousel .carousel-list-container li .info .title {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.3;
  color: #3e241e;
  margin-bottom: 0;
}

.carousel .carousel-list-container li .info .price {
  position: absolute;
  bottom: 1rem;
  margin: 0;
  color: #a29185;
}

/* RELATED ITEMS ECOMMERCE */

.carousel {
  margin: 2rem 2rem !important;
  padding: 2rem 0 !important;
  border-radius: 7px;
  box-shadow: -46px 14px 71px -19px rgba(0, 0, 0, 0.4);
}

.ais-Hits-list {
  flex-wrap: nowrap !important;
  display: -webkit-box !important;
  overflow-x: scroll !important;
  padding: 2rem;
}

.ais-Hits-item {
  width: 28%;
  background-color: white;
  padding: 0;
  position: relative;
  min-height: 450px;
}

.ais-Hits-item {
  min-height: 450px;
  box-shadow: 2px 2px 15px 2px rgba(0, 0, 0, 0.6);
  padding: 1.5rem;
  border-radius: 7px;
  margin: auto 1rem;
}

.img-hit {
  display: flex !important;
  justify-content: center !important;
  width: 200px !important;
  height: 200px !important;
  margin: 0 auto;
}
.img-hit img {
  width: 100% !important;
  object-fit: contain !important;
}
.hit-ratings {
  display: flex;
}
.hit-ratings p {
  display: flex;
  font-size: 0.6rem;
  font-style: italic;
  margin-left: 0.2rem;
}

.hit-ratings i {
  color: gold;
}

.hit-name {
  font-size: 1.5rem;
  font-weight: bold;
}

.hit-rating-price {
  position: absolute;
  bottom: 0.5rem;
}

.inner-content > div h2,
.h2-titleRelated {
  margin: 2rem 0;
  margin-left: 2rem;
  font-family: Hind, sans-serif;
}

.ais-Hits-list {
  display: flex;
  list-style-type: none;
}

.user-token-selector {
  margin-top: 1rem;
  border-radius: 30px;
  padding: 0.5rem;
}

@media (max-width: 680px) {
  h1 {
    text-align: center;
    padding: 1rem;
  }
  .carousel .carousel-list-container li,
  .ais-Hits-item {
    width: 300px;
  }
  .carousel {
    margin: 1rem 1rem !important;
  }
}
