body {
  margin: 0;
  color: #21243d;
}

.header {
  position: relative;
  align-items: center;
  background: linear-gradient(
    to bottom,
    transparent 36%,
    rgba(0, 0, 0, 0.1) 100%
  );
  background-color: #ffffff;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 15.5rem;
  padding: 0.5rem 1rem;
  text-align: center;
  z-index: 10;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 3rem;
}

.searchbox {
  flex: 2;
}

.search-panel__filters {
  flex: 2;
}

.search-panel__results {
  flex: 3;
  display: flex;
}

.refinement-list {
  min-width: 20%;
  margin-right: 5px;
}

.ais-Highlight-highlighted {
  color: inherit;
  font-size: inherit;
}

#searchbox {
  margin-bottom: 2rem;
}

#pagination {
  margin: 2rem auto;
  text-align: center;
}

#queryRuleCustomData img {
  height: 30%;
  width: 30%;
  display: block;
  margin: 10px auto;
}

#queryRuleCustomData h2 {
  height: 30%;
  width: 30%;
  display: block;
  margin: 10px auto;
  text-align: center;
}

.ais-Hits-item {
  overflow-wrap: break-word;
}

@media only screen and (max-width: 600px) {
  .ais-Hits-item {
    width: 100%;
  }
}

/* hit cards design  */
.ais-Hits-item {
  min-height: 350px;
  box-shadow: 2px 2px 10px 2px rgba(136, 134, 134, 0.6);
  padding: 1.5rem;
  border-radius: 10px;
}

.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex: 3;
}

.img-hit {
  display: flex !important;
  justify-content: center !important;
  width: 200px !important;
  height: 200px !important;
  margin: 0 auto;
}

.hit-description p {
  float: left;
  font-size: 14px;
  word-wrap: break-word;
}

.img-hit img {
  width: 100% !important;
  object-fit: contain !important;
}

.hit-name {
  /* justify-content: center !important; */
  word-wrap: break-word;
  font-size: 1.5rem;
  font-weight: bold;
}

.hit-price {
  position: absolute;

  z-index: 11;
  padding: 2px 5px;
  background-color: #fedd4e;
  border-radius: 5px;
  opacity: 0.8;
}

.ais-SearchBox {
  width: 100%;
}

.ais-SearchBox-input {
  position: relative;
  display: flex;
  align-items: center;
  padding: 1rem;
  height: 4rem;
  border-radius: 8px;
  background: linear-gradient(
      -180deg,
      hsla(0, 0%, 100%, 0),
      hsla(0, 0%, 100%, 0.8)
    )
    #ebecf3;
  box-shadow: 0 20px 44px 0 rgba(0, 0, 0, 0.2);
}

/* Search header style */
.search-header h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.5em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

#searchCheckbox {
  display: none;
}

/* seach box style */
.search-inputs-container {
  max-width: 100%;
  width: 47rem;
  padding: 0.5rem 1rem;
}

.search-inputs-container input {
  border: none;
  width: 100%;
  font-size: 0.875rem;
  background: transparent;
  outline: none;
  /* height: 100%; */
  position: relative;
  z-index: 99;
  font-family: Hind, sans-serif;
  padding-left: 57px;
}

.ais-SearchBox-input::placeholder {
  color: #21243d;
  opacity: 0.55;
}

.ais-SearchBox-loadingIcon,
.ais-SearchBox-resetIcon,
.ais-SearchBox-submitIcon {
  left: 2rem;
}

.ais-SearchBox-resetIcon {
  display: none;
}

/* This is a test */
