@import url('https://fonts.googleapis.com/css?family=Hind&display=swap');

* {
  box-sizing: border-box;
  font-family: Hind,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
}

.hidden {
  display: none;
}

#search-box-container {
  height: 49px;
}

#search-box-container input {
  border: none;
  border-bottom: 1px solid #cecece;
  width: 100%;
  font-size: 20px;
  background: transparent;
  padding: 0 !important;
  outline: none;
  height: 100%;
  position: relative;
  z-index: 99;
  font-family: Arial, Helvetica, sans-serif;
}

#predictive-box {
  height: 49px;
  padding: 0 !important;
  display: flex;
  align-items: center;
  position: absolute;
  border-bottom: 1px solid transparent;
}

#predictive-box-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #a2a2a2;
}

#suggestion-tags {
  width: 100%;
  border: none;
  margin: 8px 0 0 0;
  padding: 8px;
  list-style-type: none;
  white-space: nowrap;
  /* Remove scrollbar but still allow scroll */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;
}
/* WebKit scrollbar */
#suggestion-tags::-webkit-scrollbar { 
  width: 0;
  height: 0;
}

.suggestion-tags-container {
  position: relative;
  overflow: auto;
}

.suggestion-tags-container:before,
.suggestion-tags-container:after {
  width: 16px;
  height: 100%;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  opacity: 0;
  pointer-events: none;
  z-index: 10;
  transition: 120ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.suggestion-tags-container:before { 
  right: 0;
  background-image: linear-gradient(90deg, rgba(255,255,255, 0) 0%, #f1f1f1 50%, #f1f1f1);
}
.suggestion-tags-container:after { 
  left: 0;
  background-image: linear-gradient(-90deg, rgba(255,255,255, 0) 0%, #f1f1f1 50%, #f1f1f1);
}

.suggestion-tags-container.overflowing-indicator-right:before {
  opacity: 1;
}

.suggestion-tags-container.overflowing-indicator-left:after {
  opacity: 1;
}

#suggestion-tags {
  overflow: auto;
}

.suggestion-tag {
  color: #36394d;
  font-size: 14px;
  border-radius: 4px;
  padding: 8px 32px 8px 24px;
  background: linear-gradient(#fff,#e4e4e9) no-repeat;
  box-shadow: 0 7px 14px -3px rgba(45,35,66,0.3), 0 2px 4px 0 rgba(45,35,66,0.4), inset 0 -2px 0 0 #cfd1e3;
  display: inline-block;
  margin-bottom: 12px;
  transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1)
}

.suggestion-tag[aria-selected=true] {
  box-shadow: 0 11px 16px -3px rgba(45,35,66,0.3), 0 4px 5px 0 rgba(45,35,66,0.4), inset 0 -2px 0 0 #cfd1e3;
  transform: translateY(-2px);
}

.suggestion-tag{
  margin: 0 8px 10px 8px;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
}

.suggestion-tag i {
  display: inline-block;
  color: #aaaabd;
  margin-right: 4px;
  transform: translate(0,1px)
}

.suggestion-tag em {
  font-style: normal;
  font-weight: normal;
}

#clear-input {
  color: #a2a2a2;
  display: none;
  margin-top: -30px;
  float: right;
  overflow: hidden;
  position: relative;
  z-index: 100;
  cursor: pointer;
}