.hidden {
  display: none;
}

.search-box-container {
  height: 49px;
}

.search-box-container input {
  border: none;
  border-bottom: 1px solid #cecece;
  width: 100%;
  font-size: 20px;
  background: transparent;
  padding: 0 !important;
  outline: none;
  height: 100%;
  position: relative;
  z-index: 99;
  font-family: Arial, Helvetica, sans-serif;
}

#predictive-box {
  height: 49px;
  padding: 0 !important;
  display: flex;
  align-items: center;
  position: absolute;
  border-bottom: 1px solid transparent;
}

#predictive-box-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #a2a2a2;
}

#suggestion-tags-container {
  width: 100%;
  margin-top: 0.5em;
  border: none;
  margin: .5em 0 0 0;
  padding: 0;
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

.suggestion-tag {
  padding: 10px;
  white-space: nowrap;
  background: #ececec;
  cursor: pointer;
  margin: 8px 0;
}

.suggestion-tag:not(:last-child){
  margin-right: 20px;
}

.suggestion-tag em {
    font-style: normal;
    font-weight: bold;
}

#clear-input {
  color: #a2a2a2;
  display: none;
  margin-top: -30px;
  float: right;
  overflow: hidden;
  position: relative;
  z-index: 100;
  cursor: pointer;
}