body {
  padding: 0;
  margin: 0;
  background-color: #f1f1f1;
  font-family: "Open Sans", sans-serif;
}

mark {
  font-weight: bold;
  font-style: unset;
  background-color: rgba(216, 216, 216, 0.75);
  padding: 0.2;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #576cf6;
  box-shadow: 0px 3px 16px -1px rgba(181, 181, 181, 1);
  position: fixed;
  width: 100%;
  z-index: 99;
  color: white;
}

nav h1 {
  width: 60%;
  padding-left: 20px;
  font-weight: 100;
}

nav ul {
  width: 40%;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 40px;
}

.left-part {
  margin-top: 79px;
  width: 20%;
  display: flex;
  align-items: flex-start;
  justify-content: left;
  padding: 20px;
  background-color: #f1f1f1;
}

.facets h3 {
  color: #576cf6;
}

.ais-RefinementList-showMore {
  background-color: unset;
  color: black;
  text-decoration: underline;
  color: #576cf6;
}

.ais-RefinementList-showMore:hover,
.ais-RefinementList-showMore:focus {
  background-color: unset;
}

.right-part {
  margin-top: 79px;
  width: 80%;
  padding: 20px;
}

#hits {
  margin-top: 20px;

  display: grid;
  grid-template-columns: repeat(4, minmax(20%, 1fr));
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

#hits {
  list-style-type: none;
  padding-left: 0;
}

#hits li {
  height: 100%;
  background-color: white;
  box-shadow: 0 5px 15px 0 rgba(37,44,97,.15), 0 2px 4px 0 rgba(93,100,148,.2)
}

.ais-Hits-item {
  height: 340px;
  padding: 0;
  position: relative;
}

.item {
  padding: 16px 16px 24px 16px;
  text-align: center;
}

.item img {
  width: 80%;
  height: 200px;
  object-fit: contain;
}

.item-actions {
  display: flex;
  justify-content: space-between;
}

.item .add-to-cart {
  border-radius: 2px;
  background-color: #576cf6;
  border: 1px solid #434f9c;
  color: white;
  text-align: center;
  padding: 8px 16px;
  cursor: pointer;
  flex: 1;
}

.item .view-button {
  border: none;
  border-radius: 2px;
  background-color: #f1f1f1;
  color: #403e3e;
  border: 1px solid #d0d0d0;
  text-align: center;
  padding: 8px 16px;
  cursor: pointer;
  margin-right: 8px;
  flex: 1;
}

.item .item-content .brand {
  color: #85878e;
  font-size: 12px;
  margin-bottom: -7px;
}

.item-content {
  padding: 16px 16px 0 16px;
  text-align: left;
}

.item-content .price {
  font-size: 14px;
  color: #474a52;
}

.item-content .price span {
  color: #000000
}

.item-content .name {
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #474a52;
}

.item-content .name em {
  font-style: normal;
  font-weight: bold;
}

#pagination {
  margin-top: 20px;
}

.ais-Pagination-item--selected .ais-Pagination-link {
  background-color: #576cf6;
  border-color: #4b5684;
}

.ais-Pagination-link {
  color: #576cf6;
}

/*TABLET*/
@media screen and (max-width: 1060px) and (min-width: 656px) {
  .hide-tablet {
    display: none;
  }

  nav h1 {
    width: 35%;
  }

  nav ul {
    width: 65%;
  }

  #hits {
    grid-template-columns: repeat(3, minmax(30%, 1fr));
  }
}

/*MOBILE*/
@media screen and (max-width: 656px) {
  .hide-mobile {
    display: none;
  }

  nav {
    height: 74px;
  }

  nav h1 {
    width: 40%;
  }

  nav ul {
    width: 60%;
  }

  #algolia-search-input {
    width: 190px;
    height: 33px;
    padding-left: 10px !important;
  }

  #algolia-mic {
    margin-left: -32px;
    margin-right: 12px;
    font-size: 15px;
    width: 33px;
    height: 33px;
  }

  .content {
    padding: 10px;
  }

  .left-part {
    display: none;
  }

  .right-part {
    width: 100%;
    padding: 0;
  }

  #pagination {
    margin-bottom: 15px;
  }

  #hits {
    grid-template-columns: repeat(2, minmax(45%, 1fr));
  }

  #bars {
    display: none;
  }
}
