#searchbox {
  width: 100%;
  position: relative;
}

.search-box-container {
  height: 50px;
}

.search-box-container input {
  border: none;
  border-bottom: 1px solid #cecece;
  width: 100%;
  font-size: 20px;
  background: transparent;
  padding: 0 !important;
  outline: none;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

#clear-input {
  color: #a2a2a2;
  display: none;
  margin-top: -30px;
  float: right;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

#search-results-container {
  padding-top: 0;
  padding-bottom: 0;
  align-items: top;
  justify-content: space-around;
  background-color: white;
  position: absolute;
  z-index: 1;
  width: 100%;
  border: 1px solid #e0e0e0;
  box-shadow: 0px 26px 110px -12px rgba(0,0,0,0.43);

  display: grid;
  padding: 16px;
  grid-column-gap: 16px;
}


#search-results-container em {
  font-weight: bold;
  font-style: normal;
}

#search-results-container .inverted-highlight {
  font-weight: bold;
}

#search-results-container .inverted-highlight em {
  font-style: normal;
  font-weight: normal;
}

#search-results-container .in-facet {
  font-size: 12px;
}


/* Start Custom Views */
/* 1. Regular display*/
#search-results-container {
  grid-template-areas: 
    "suggestions search facets"
}
#search-results-container div:first-child {
  grid-area: suggestions
}
#search-results-container div:nth-child(2) {
  grid-area: search
}
#search-results-container div:nth-child(3) {
  grid-area: facets
}

/* 2. Suggestions on top view (uncomment to see changes) */
/* #search-results-container {
  grid-template-areas: 
    "suggestions suggestions"
    "search      facets"
}
#search-results-container div:first-child {
  grid-area: suggestions
}
#search-results-container div:nth-child(2) {
  grid-area: search
}
#search-results-container div:nth-child(3) {
  grid-area: facets
} */
/* Inline suggestions so we keep everything visual*/
/* #search-results-container div:first-child li {
  display: inline-block;
} */

/* End Custom Views */